@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Message</h2>

<h3>Is There A Recommended Textbook?</h3>
<p>I have little to no interest in putting out my own text book for this material. This application
    should be accompanied with study of the Genki textbook series created by Japan Times.</p>

<h3>Why Reinvent The Wheel?</h3>
<p>The philosophy behind my product is to help people better themselves through learning a new language. 
    However, many learning programs cost a lot of money. So what should one do if they need a tool to help
    the process along? The next logical step is to search online for a
    website/web app that can assist in teaching you to learn a language. The problem with this is that 
    a majority of the free applications available are not inuitive, up to date, or simple and clean from
    a user interface perspective. Quite frankly, this is a shame. I have devoted my free time and 
    development skills to learn more about creating a web app from scratch and the Japanese language. I
    am actually learning as I go!</p>



<h3>About Me</h3>
<p>
    I am a computer scientist (currently only hold a Bachelor of Computer Science from Indiana University with a minor in Math) who
    is also a geek that loves the Japanese language and Japanese culture. I became interested in the language and culture through
    anime and also from photo blogs by <a href="http://www.dannychoo.com/">Danny Choo</a>!
</p>
