@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>I would love to hear your opinion on ways to make this application better. Please try to be constructive when criticizing the application as
    I am a sole developer and it might take an emotional toll on me! Thanks in advance for the feedback!</p>