@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Japanese World</h1>
    <p class="lead">Welcome to Nolan's personally created web application utilized to assist in the learning of the Japanese language!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sleek. Powerful. Simple. These are all words used to describe my web app.
            I designed this tool to be a much better learning tool that what is currently available on the web.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vocabulary</h2>
        <p>The building blocks of any language are the words. Through Japanese World, you will learn a vast array of words in order to assist you in
        communicating effectively and efficiently.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Grammer</h2>
        <p>Grammer is the glue that brings every piece of a language together and makes it flow eloquently. It is imperiative to educate yourself
        on Japanese grammer to have a conversation, read, or write!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>